body{
    background-color: rgb(244, 181, 63);
}

header{
    background-color: rgb(255, 230, 155)2 175.121)12 175.121)172 0.00954);
    text-align: center;
}

#download biblioteca 1.jpg{
width: 15%
}

.paragrafo{
    text-aling: center;
    padding: 50px;
    font-size: 20px;
}