body{
    background-color: rgb(64, 42, 0);
}

header{
    background-color: rgb(146, 110, 3)2 175.121)12 175.121)172 0.00954);
    text-align: center;
}

#gabi.minions.jped{
width: 30%
}

.paragrafo{
    text-aling: center;
    padding: 50px;
    font-size: 20px;
}